@model SMSProject.ViewModels.ResetPasswordFormViewModel



<div class="card card-flush shadow-sm container">
    <div class="card-header row justify-content-between ms-5 me-5">

        <div class="col-4">

            <h3 class="card-title text-dark p-5">
                <span class="svg-icon svg-icon-2 svg-icon-primary">

                </span>
                Change Your Password
            </h3>
        </div>
    </div>

    <div class="card-body py-5 mt-5">
        <form asp-controller="Users"
              data-ajax-method="post">

            <div class="row">
                <div class="col-md-4">

                    <input type="hidden" asp-for="Id" />
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control form-control-solid" placeholder="Password" asp-for="Password" />
                            <label asp-for="Password"></label>
                        </div>
                        <span asp-validation-for="Password" class="text-danger d-block"></span>
                    </div>

                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control form-control-solid" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <span class="indicator-label">
                            Save
                        </span>
                        <span class="indicator-progress">
                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>


                </div>
            </div>
        </form>
    </div>

</div>



@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    


}
